<h1> ACTIVITY1 - PALMER PENGUINS DATA ANALYTICS PROJECT </h1>
<hr>

<h3> ANALYST: Mark Angelo Salazar </h3>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings ('ignore')

In [2]:
peng = pd.read_csv('datasets\\penguins.csv')

In [3]:
peng

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
peng.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

<h2>FILTERING A COLUMN/DATA</h2>

In [5]:
peng['species']

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [6]:
peng['sex']

0        MALE
1      FEMALE
2      FEMALE
3         NaN
4      FEMALE
        ...
339       NaN
340    FEMALE
341      MALE
342    FEMALE
343      MALE
Name: sex, Length: 344, dtype: object

In [7]:
peng[(peng['bill_depth_mm'] <= 20) & (peng['sex'] == 'torgersen')]

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

<h1>Cleaning The Data Frame</h1>

In [8]:
peng.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

<h1>Whate to do with the null values?</h1>

In [9]:
peng['bill_length_mm'].mean()

43.9219298245614

In [10]:
peng['sex'].mode()

0    MALE
Name: sex, dtype: object

<h1>How to fillup null values?</h1>

In [11]:
peng['bill_length_mm'] = peng['bill_length_mm'].fillna(peng['bill_length_mm'].mean())

In [12]:
peng.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [13]:
peng['bill_depth_mm'] = peng['bill_depth_mm'].fillna(peng['bill_depth_mm'].mean())

In [14]:
peng.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [15]:
peng['flipper_length_mm'] = peng['flipper_length_mm'].fillna(peng['flipper_length_mm'].mean())

In [16]:
peng.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
dtype: int64

In [17]:
peng['body_mass_g'] = peng['body_mass_g'].fillna(peng['body_mass_g'].mean())

In [18]:
peng.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
dtype: int64

In [19]:
peng['sex'] = peng['sex'].fillna(peng['sex'].mode()[0])

In [20]:
peng.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [21]:
peng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [22]:
peng.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      344.000000     344.000000         344.000000   344.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.443643       1.969027          14.020657   799.613058
min         32.100000      13.100000         172.000000  2700.000000
25%         39.275000      15.600000         190.000000  3550.000000
50%         44.250000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [23]:
peng['species'] = peng['species'].astype('category')

In [24]:
peng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: category(1), float64(4), object(2)
memory usage: 16.7+ KB

In [25]:
peng['island'] = peng['island'].astype('category')

In [26]:
peng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: category(2), float64(4), object(1)
memory usage: 14.5+ KB

In [27]:
peng['sex'] = peng['sex'].astype('category')

In [28]:
peng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
dtypes: category(3), float64(4)
memory usage: 12.3 KB

<h1>EXPLORATORY DATA ANALYSIS (EDA)</h1>

<h3>Which specie of penguin amongst the data set is the heaviest?</h3>

In [29]:
peng['body_mass_g'].mean()

4201.754385964912

In [30]:
peng['species'] == "Adelie"

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [31]:
peng['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [32]:
peng[peng['species'] == "Adelie"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,MALE
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE
...,...,...,...,...,...,...,...
147,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,FEMALE
148,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,FEMALE
149,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,MALE
150,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,FEMALE
151,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,MALE

In [33]:
adelie_df = peng[peng['species'] == "Adelie"]

In [34]:
adelie_df['body_mass_g'].mean()

3703.95891043398

In [35]:
peng[peng['species'] == "Adelie"]['body_mass_g'].mean()

3703.95891043398

<h3>Which island has the heaviest species?</h3>

In [36]:
peng['island'].mean

<bound method Series.mean of 0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339       Biscoe
340       Biscoe
341       Biscoe
342       Biscoe
343       Biscoe
Name: island, Length: 344, dtype: category
Categories (3, object): ['Biscoe', 'Dream', 'Torgersen']>

In [37]:
peng['island'] == "adelie"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

<h3>Which island has the largest average of penguin body mass?</h3>

In [38]:
island_bmass = peng.groupby(['island'])['body_mass_g'].mean()

In [39]:
island_bmass

island
Biscoe       4712.956871
Dream        3712.903226
Torgersen    3715.899123
Name: body_mass_g, dtype: float64

insight 1 : Biscoe has the largest average of penguin body mass.

<h3>What is the average body mass of each male Species?</h3>

In [40]:
male_bodymass = peng.groupby(['species','sex'])['body_mass_g'].mean()

In [41]:
male_bodymass

species    sex
Adelie     FEMALE    3368.835616
           MALE      4013.629802
Chinstrap  FEMALE    3527.205882
           MALE      3938.970588
Gentoo     FEMALE    4679.741379
           MALE      5411.011430
Name: body_mass_g, dtype: float64

<h3>Is there a correlation between flipper length and weight?

In [47]:
flipper_mass_corr = peng['bill_depth_mm'].corr(peng["body_mass_g"])

In [48]:
flipper_mass_corr

-0.47191562118606634

<h3>Which penguin species has the largest average flipper length?

In [49]:
largest_flipper = peng.groupby('species')['flipper_length_mm'].mean()

In [50]:
largest_flipper

species
Adelie       190.025758
Chinstrap    195.823529
Gentoo       217.055768
Name: flipper_length_mm, dtype: float64

<h3>What is the average bill length of penguins by island?</h3>

In [52]:
island_bill_length = peng.groupby('island')['bill_length_mm'].mean()

In [53]:
island_bill_length

island
Biscoe       45.249535
Dream        44.167742
Torgersen    39.046576
Name: bill_length_mm, dtype: float64

<h3>Which island has the heaviest specie?</h3>

In [57]:
island_heaviest_specie = peng.groupby(['island','species'])['body_mass_g'].mean()

In [58]:
island_heaviest_specie

island     species
Biscoe     Adelie       3709.659091
           Chinstrap            NaN
           Gentoo       5068.965761
Dream      Adelie       3688.392857
           Chinstrap    3733.088235
           Gentoo               NaN
Torgersen  Adelie       3715.899123
           Chinstrap            NaN
           Gentoo               NaN
Name: body_mass_g, dtype: float64